*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    color: hsl(234, 12%, 34%);
    margin-bottom: 30px;
}
.topic{
    font-weight: 200;
    font-size: 20px;
    
} 
.power{
    font-weight: 600;
    font-size: 30px;
} 
.title p{
    font-size: 15px;
    font-weight: 200;

}
.item1, .item2 div, .item3{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 2px hsl(0, 0%, 98%);
    padding-left: 12px;
    padding-top: 15px;
   
}
.item1 img, .item2 div img, .item3 img{
    width: 30px;
    margin-top: 20px;
    /* padding-right: 100px; */
} 
.item1{
    border-top: 2px solid hsl(180, 62%, 55%);
    
}
.item2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: auto; */
}
.item2 div{
}
.item3{
    border-top: 2px solid hsl(212, 86%, 64%);
}
.grid{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    height: 400px;
    margin-bottom: 30px;
}
.grid h3{
    font-size: 16px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
}
.grid p{
    font-size: 11px;
    padding-bottom: 10px;
    color:hsl(234, 12%, 34%) ;
}
.item2_1{
    margin-top: 30px;
    border-top: 2px solid hsl(34, 97%, 64%);
}
.item2_2{
    margin-top: 30px;
    border-top: 2px solid  hsl(0, 78%, 62%) ;
}
@media screen and (max-width: 765px){
    .title{
        width: 90%;
        
    }
    .topic{
        font-size: 15px;
        padding-top: 8px;
        width: 100%;
    }
    .power{
        font-size: 20px;
        padding-top: 10px;
    }
    .title p{
        width: 80%;
        margin: auto;
        text-align: center;

    }
    .grid{
        flex-direction: column;
        width: 90%;
        margin: auto;
        height: auto;
    }
    .item1 div, .item2_1, .item2_2, .item3 div {
        height: auto;
        width:100%;
        margin: auto;
        gap: 20px;
        padding: 20px;
        margin-top: 10px;
    }
    .item3 {
        margin-bottom: 30px;
    }
}
